
<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku Solver</title>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <div class="sudoku-grid">
      {% for i, nums in enumerate(generate_seq()) %}
        <table class="sudoku-subgrid">
          {% for y in get_col_seq(i) %}
          <tr class="subgrid">
            {% for x in nums %}
            <td>
              <input type="number" id={{ 'cell-'~x~'-'~y }} min="1" max="9">
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      {% endfor %}
      <div>
        <button onclick="clearCells()">Clear</button>
        <button onclick="solveBoard()">Solve</button>
      </div>
    </div>
    <script type="text/javascript" src="../static/main.js"></script>
  </body>
</html>